{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
{% endblock styles %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-unstyled">
                    {% for author in author_list %}
                        <li class="media">
                            <img src="{{ author.image.thumb.url }}" class="mr-3" alt="Imagem de capa do livro {{ author.name }}">
                                <div class="media-body">
                                <h5 class="mt-0 mb-1">{{ author.name }}</h5>
                                <p>{{ author.description|linebreaksbr|truncatechars:400 }}</p>
                                <a href="" class="btn btn-primary">Ver detalhes</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock content %}