{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
{% endblock styles %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{{ book.image.url }}" class="img-fluid" alt="">

                {% if request.user.is_authenticated %}
                    <div class="w-100 d-inline-flex justify-content-center mt-2">
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a role="button" href="{% url 'bookshelf:mark-book-has-read' pk=book.pk %}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Já li">
                                    <i data-feather="book"></i>
                                </a>
                                <a role="button" href="{% url 'bookshelf:mark-book-has-reading' pk=book.pk %}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Estou lendo">
                                    <i data-feather="book-open"></i>
                                </a>
                                <a role="button" href="{% url 'bookshelf:mark-book-has-want-read' pk=book.pk %}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Quero ler">
                                    <i data-feather="bookmark"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                    <a role="button" href="{% url 'reviews:review-create' book_pk=book.pk %}" class="btn btn-primary">Fazer uma crítica</a>
                {% endif %}
            </div>

            <div class="col-md-9">
                <h2>{{ book.title }}</h2>
                <p class="text-justify">{{ book.summary }}</p>
                <p>
                    Gênero: {% for genre in book.genre.all %}<a href="{{ genre.get_absolute_url }}" class="badge badge-secondary">{{ genre.name }}</a>{% endfor %}
                </p>
                <p>Autor: <a href="{% url 'catalog:author-detail' pk=book.author.pk %}">{{ book.author.name }}</a></p>
                <p>ISBN: {{ book.isbn }}</p>
                <p>Língua: {{ book.language }}</p>
                <p>
                    Avaliação média: <span class="text-warning rating">{{ book.get_rating }}</span>
                </p>
                <div class="w-100 d-inline-flex justify-content-between">
                    <p>Pessoas que estão ledo: {{ book.get_reading_count }}</p>
                    <p>Pessoas que já leram: {{ book.get_read_count }}</p>
                    <p>Pessoas que querem ler: {{ book.get_want_read_count }}</p>
                </div>

                {% if book.review_set.all %}
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Avaliações {{ book.review_set.count }}
                        </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    {% for review in book.review_set.all %}
                                        {% include 'reviews/partials/_review_list_item.html' %}
                                    {% endfor %}
                                </ul>
                            </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}